In [1]:
!pip install pandas 
!pip install numpy 
!pip install Faker 
!pip install seaborn 
!pip install matplotlib 
!pip install scikit-learn 
!pip install kneed

Requirement already satisfied: pandas in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (1.24.1)
Requirement already satisfied: Faker in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (16.6.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: seaborn in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.1)
Requirement already satisfied: pandas>=0.25 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.19 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.1)
Requirement already satisfied: packaging>=20.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: scikit-learn in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: kneed in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (0.8.2)
Requirement already satisfied: numpy>=1.14.2 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from kneed) (1.24.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\panin\appdata\local\programs\python\python311\lib\site-packages (from kneed) (1.10.0)

In [2]:
import pandas as pd

user = {'name': 'pippo', 'surname': 'pluto', 'gender': 'M', 'searching_gender': 'A', 'interests': 'Gaming, Movies, Judo, Acting', 'age': '45', 'latitude': '48.0572', 'longitude': '-117.7466'}

df_user = pd.DataFrame.from_dict(user, orient="index").T
clustered = pd.read_csv("clustered_dataset.csv")
df_user

,name,surname,gender,searching_gender,interests,age,latitude,longitude
0,pippo,pluto,M,A,"Gaming, Movies, Judo, Acting",45,48.0572,-117.7466

In [3]:
from sklearn.feature_extraction.text import CountVectorizer  

def split_interests(interests):
  tokens = interests.split(", ")
  interests_list = [] 
    
  for token in tokens:
      interests_list.append(token)
        
  return interests_list

vect = CountVectorizer(tokenizer=lambda interests: split_interests(interests), lowercase=True) 
vect_labels = vect.fit_transform(df_user["interests"]) 


df_user = pd.concat([df_user, pd.DataFrame(data=vect_labels.toarray(), columns=vect.get_feature_names_out())], axis=1)
df_user

C:\Users\Panin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

,name,surname,gender,searching_gender,interests,age,latitude,longitude,acting,gaming,judo,movies
0,pippo,pluto,M,A,"Gaming, Movies, Judo, Acting",45,48.0572,-117.7466,1,1,1,1

In [4]:
merged = pd.concat([clustered, df_user], ignore_index = True)
merged = merged.fillna(0)
merged

,name,surname,gender,searching_gender,age,interests,latitude,longitude,acting,advertising,...,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga,Cluster #
0,Beth,Shaw,F,M,23,"Roller hockey, Movies, Gaming, Paragliding, Or...",42.4355,-83.489,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
1,Tammy,Gray,N,F,35,"Gardening, Web design, Mathematics, Gaming",39.5204,-81.0684,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145.0
2,Casey,Taylor,M,M,31,"Table tennis, Judo, Food criticism, Stand-up c...",48.0572,-117.7466,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0
3,Carrie,Black,F,M,38,"Fishing, Pinball, Rock Climbing, Bar tending, ...",27.7037,-97.5718,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
4,Stephanie,Martinez,F,F,28,"Art history, Gymnastics, Rappelling, Advertisi...",38.481,-100.4663,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,Kathleen,Thompson,F,N,31,"Woodworking, Card games, Marketing, Bouldering...",46.7968,-122.868,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,42.0
4997,Christina,Johnson,F,N,19,"Jogging, Baking, Puzzle solving",43.3082,-110.7443,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0
4998,Anthony,Roberson,M,B,33,"Knitting, Muay Thai, Bouldering",40.9222,-72.3533,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4999,Amy,Walker,F,F,21,"Escape rooms, Marketing, Fitness, Board games",40.3495,-76.1391,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0
5000,pippo,pluto,M,A,45,"Gaming, Movies, Judo, Acting",48.0572,-117.7466,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
del merged['name']
del merged['surname']
del merged['gender']
del merged['searching_gender']
del merged['age']
del merged['Cluster #']
del merged['interests']

merged

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
0,42.4355,-83.489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,39.5204,-81.0684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,48.0572,-117.7466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27.7037,-97.5718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,38.481,-100.4663,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,46.7968,-122.868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4997,43.3082,-110.7443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,40.9222,-72.3533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,40.3495,-76.1391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000,48.0572,-117.7466,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
merged[merged.columns] = scaler.fit_transform(merged[merged.columns])

merged

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
0,0.464666,0.833018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.409333,0.855243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.571376,0.518469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.185031,0.703711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.389603,0.677135,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0.547452,0.471445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4997,0.481232,0.582763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.435941,0.935264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.425070,0.900504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000,0.571376,0.518469,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
row = merged.iloc[-1:]
row

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
5000,0.571376,0.518469,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
import joblib
import numpy as np

clf = joblib.load('model.sav')
value = clf.predict(row)
n_cluster = value[0]
n_cluster

C:\Users\Panin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator SVC from version 1.2.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

109

Now we need a list of all users in that cluster

In [9]:
cluster_group = clustered.loc[clustered['Cluster #'] == n_cluster]

Now we apply the filters, in that case we use gender and searching_gender

In [10]:
def apply_filters(clustered, df_user, result_from_classifier):
    user_searching_gender = clustered.loc[clustered['Cluster #'] == result_from_classifier]

    match df_user['searching_gender'][0]:
        case "M":
            user_searching_gender = user_searching_gender.loc[user_searching_gender['gender'] == 'M']
        case 'F':
            user_searching_gender = user_searching_gender.loc[user_searching_gender['gender'] == 'F']
        case 'N':
            user_searching_gender = user_searching_gender.loc[user_searching_gender['gender'] == 'N']
        case 'B':
            user_searching_gender = pd.concat([user_searching_gender.loc[user_searching_gender['gender'] == 'F'],
                                               user_searching_gender.loc[user_searching_gender['gender'] == 'M']])

    users_searching_user_gender = pd.DataFrame(columns=user_searching_gender.columns)

    for index, row in user_searching_gender.iterrows():
        match df_user["gender"][0]:
            case "M":
                if row["searching_gender"] == 'M' or row["searching_gender"] == 'B' or row["searching_gender"] == 'A':
                    users_searching_user_gender = pd.concat([users_searching_user_gender, row.to_frame().T])
            case 'F':
                if row["searching_gender"] == 'F' or row["searching_gender"] == 'B' or row["searching_gender"] == 'A':
                    users_searching_user_gender = pd.concat([users_searching_user_gender, row.to_frame().T])
            case 'N':
                if row["searching_gender"] == 'N' or row["searching_gender"] == 'A':
                    users_searching_user_gender = pd.concat([users_searching_user_gender, row.to_frame().T])

    return users_searching_user_gender


apply_filters(cluster_group, df_user, n_cluster)
        
#restituire i ragazzi con searching gender che corrisponde

,name,surname,gender,searching_gender,age,interests,latitude,longitude,acting,advertising,...,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga,Cluster #
0,Beth,Shaw,F,M,23,"Roller hockey, Movies, Gaming, Paragliding, Or...",42.4355,-83.489,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
57,Rebecca,Green,F,M,26,"Advertising, Movies, Equestrian, Filmmaking, M...",28.8563,-81.6771,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
189,Dana,Reid,F,M,31,"Music production, Movies, Financial analysis",39.452,-97.53,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
354,Cody,Owens,M,M,20,"Movies, Carpentry, Financial analysis",39.3433,-89.2186,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
539,John,Mueller,M,A,19,"Water polo, Theatre, Movies",42.9258,-83.6181,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
592,Latasha,Ellis,N,M,27,"Painting, Movies, Watercolor, Yachting, Jujitsu",39.8056,-75.4862,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,109
806,Christine,Lyons,F,M,24,"Yoga, Running, Movies, Rock Climbing",39.5861,-82.5262,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,109
894,Alicia,Griffith,N,M,22,"Equestrian, Movies, Filmmaking, Ice skating",33.9508,-83.3689,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
943,Elijah,Love,M,B,23,"Triathlons, Movies, Jogging, Poetry, Equestrian",33.0315,-108.6944,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
961,James,Parker,M,B,21,"Mathematics, Equestrian, Snowboarding, Movies",41.0742,-80.449,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
982,Tracy,Turner,F,A,39,"Movies, Nature, Pottery, Windsurfing",42.793,-74.6128,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,109
1013,Laura,Peterson,F,A,28,"Surfing, Astronomy, Paragliding, Movies",32.2507,-106.7626,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
1427,Michelle,Carter,F,A,39,"Football, Advertising, Movies",38.4565,-87.0959,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
1630,Lauren,Rogers,F,B,23,"Football, Nature, Yoga, Movies",39.9763,-85.6168,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,109
1993,Daniel,Frank,N,M,24,"Yoga, Movies, Pool",41.9837,-79.3395,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,109
2010,Roger,Roberts,N,M,37,"Stand-up comedy, Movies, Financial analysis",33.8771,-93.9217,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
2638,Ruth,Butler,F,A,38,"Paragliding, Movies, Watercolor, Blacksmithing",30.1996,-84.3634,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
2639,Tyler,Fernandez,M,A,32,"Astronomy, Carpentry, DJing, Movies, Acting",36.8353,-83.7598,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
3165,Lauren,Thomas,N,B,23,"Yoga, Sketching, Stock trading, Movies, Ceramics",41.105,-85.7425,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,109
3375,Stephanie,Wang,N,M,37,"Ballroom dancing, Movies, Astrophysics",35.0324,-89.5612,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
4252,John,Taylor,M,A,21,"Nature, Boxing, Movies, Equestrian, Hiking",42.0209,-88.1779,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
4547,Daniel,Smith,M,A,39,"Movies, Financial analysis, Improv",42.6389,-89.1712,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
4644,Joseph,Perez,N,B,37,"Movies, Rock Climbing, Carpentry",60.1688,-154.3233,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109
4651,Katherine,Griffin,F,M,37,"Ballroom dancing, Theatre, Movies, Letterboxing",35.6085,-90.3329,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109